spring:
  application:
    name: proposal-view-manager

  elasticsearch:
    uris: ${ELASTICSEARCH_URL:http://localhost:9200}

  # JPA configuration (disabled for this module as we only use Elasticsearch)
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8080/realms/ipitch}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://localhost:8080/realms/ipitch/protocol/openid-connect/certs}

server:
  port: 8082

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    com.intrigsoft.ipitch: DEBUG
    org.springframework.data.elasticsearch: DEBUG
